.header {
  position: sticky;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: var(--background);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.06);
}

.siteTitle {
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-text-primary);
}

.headerWrapper {
  display: flex;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
  height: 8rem;
  padding: 0 2rem;
}

.headerRight {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.logo {
  margin-right: 1rem; /* Adjust the margin as needed */
}

.logoImage {
  width: 120px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  border: 2px solid black; /* Add a black border */
  padding: 5px; /* Optional: Add padding for better visual appearance */
}


@media only screen and (min-width: 1024px) {
  .headerWrapper {
    padding: 0;
  }
}
